<header>
  <button ng-click="logOut()">Log Out</button>
</heaader>

<section id="products-list" ng-init="">
  <div ng-repeat="category in categories" ng-hide="category.isHidden" ng-init="categoryProducts=renderCategoryProducts(category)">
    <div class="category-header">
      <h1 class="category-title">{{category.name}}</h1>
      <span class="items-counter">products</span>
    </div>

    <div class="product-box" ng-repeat="product in categoryProducts">
      <div class="counter-box l-overlap-counter" ng-show="product.inCart">
        <span class="items-count">{{lineItems[product.id].quantity}}</span>
        <span>Selected</span>
      </div>
      <img ng-src="{{product.master.images[0].product_url}}" />

      <div class="add-box l-overlap-box l-center">
        <h2>{{product.master.name}}</h2>
      </div>

      <span class="btn btn-product btn-add l-overlap-btn l-center" ng-hide="product.inCart" ng-click="addToCart(product)">+</span>

      <div class="add-remove-controls l-overlap-btn" ng-show="product.inCart">
        <span class="btn btn-product quantity-remove" ng-click="removeQuantity(product)">-</span>
        <span class="btn btn-product quantity-add" ng-click="addQuantity(product.id)">+</span>
      </div>

    </div>
  </div>
</section>

<footer class="cart-controls l-bottom-fixed">
  <span>{{countInCart()}} Products</span>
  <span class="btn btn-cart" ng-click="goToCart()">Make Order</span>
</footer>

