<section id="login">
  <div id="login-form">
    <%= image_tag("thecrowdchef_logo.png") %>
    <div class="btn btn-login google" ng-show="!signedIn" ng-click="signIn()">
      <span class="l-pull-left">LOG IN with</span>
    </div>
  </div>
</section>

