$dark-gray: #555555;
$light-gray: #AAAAAA;
$dark-turquoise: #048276;
$turquoise: #5AABA2;

body {
  background-color: $turquoise;
  font-family: Lato;
  font-weight: 300;
  margin: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

