$gray94: #EEEEEE;
$dark-gray: #555555;
$dark-turquoise: #048276;
$light-gray: #AAAAAA;
$turquoise: #5AABA2;
$orange: #c36200;
$dark-orange: #d86e27;

body {
  background-color: $turquoise;
  font-family: Lato;
  font-weight: 300;
  margin: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

#cart, #products-list {
  background-color: white;
  height: 100vh;
}
