#login {
  background-color: $turquoise;
  height: 100%;
  text-align: center;
}

#login-form {
  padding-top: 20px;
}

.l-pull-left { margin-right: 80px }

.l-center { margin: 0 auto; }

.l-overlap-box {
  margin-bottom: -78px;
  position: relative;
  top: -98px;
}

.l-overlap-btn {
  margin-bottom: -48px;
  position: relative;
  top: -68px;
}

.l-overlap-counter {
  float: right;
  margin-top: -60px;
  position: relative;
  right: 15px;
  top: 75px;
}

.l-bottom-fixed {
  position: fixed;
  bottom: 0;
}

.l-left-fixed {
  position: fixed;
  left: 0;
}

