.button {
  cursor: pointer;
  height: 40px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 280px;
  @include border-radius(5px);
}

.category-header {
  background: gray image-url('pattern_01.png') repeat-x;
  color: white;
  height: 35px;
  padding: 10px 20px 0;

  .category-title {
    font-size: 18px;
  }

  .items-counter {
    float: right;
    font-size: 15px;
  }
}

.google-login {
  background: white image-url('google_logo_01.svg') no-repeat 160px 12px;
  color: $dark-turquoise;
  font-size: 20px;
  margin-top: 40px;
}

