.button {
  cursor: pointer;
  height: 40px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 280px;
  @include border-radius(5px);
}

.category-header {
  background: gray image-url('pattern_01.png') repeat-x;
  color: white;
  height: 35px;
  padding: 10px 20px 0;

  .category-title {
    display: inline;
    font-size: 18px;
  }

  .items-counter {
    float: right;
    font-size: 15px;
  }
}

.add-box {
  background-color: white;
  height: 75px;
  opacity: 0.8;
  padding-top: 3px;
  text-align: center;
  width: 280px;
  @include border-radius(5px);
}

.add-button {
  background-color: $dark-turquoise;
  color: white;
  display: block;
  width: 274px;
}

.product-button {
  cursor: pointer;
  font-size: 50px;
  height: 45px;
  line-height: 38px;
  line-height: 38px;
  text-align: center;
  @include border-radius(5px);
}

.quantity-add {
  background-color: $dark-turquoise;
  color: white;
  display: inline-block;
  width: 191px;
}

.quantity-remove {
  background-color: #AAA;
  color: white;
  display: inline-block;
  width: 70px;
  margin: 0 10px 0 23px;
}

.product-box {
  width: 320px;
}

.google-login {
  background: white image-url('google_logo_01.svg') no-repeat 160px 12px;
  color: $dark-turquoise;
  font-size: 20px;
  margin-top: 40px;
}

