<div class="container">
  <header class="header-menu" ng-if="signedIn">
    <menu-button></menu-button>
    <h1>The Crowd's Chef</h1>
  </header>
  <nav class="navigation-menu">
    <ul>
      <li class="line-item" ng-click="goTo('home')">La Carta</li>
      <li class="line-item" ng-click="goTo('cart')">My Cart</li>
      <li class="line-item" ng-click="goTo('orders')">My Orders</li>
      <li><div class="btn btn-logout" ng-click="logOut()">Log Out</button></li>
    </ul>
  </nav>
  <article id="main" ng-view></article>
</div>

